body 
{
    background: #f4eefc;
}

.category {
    padding: 10px;
    background: #faf6ff;
    margin-bottom: 8px;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    transition: 0.2s;
}
.category:hover {
    background: #e8dbff;
}

.product-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.product-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    background: #ede8ff;
}

.cart {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
