body {
    background: #e8f0fe;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor {
    width: 380px;
    margin: 60px auto;
    background: white;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0px 0px 15px #0003;
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

.formulario label {
    font-weight: bold;
    margin-top: 12px;
    display: block;
}

input, select {
    width: 100%;
    padding: 9px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #bdbdbd;
}

button {
    margin-top: 20px;
    width: 100%;
    background: #4CAF50;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #43a047;
}
